<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462552327688-rsldd8a8ec99rip0lncj70be10l8ueq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462552327688-rsldd8a8ec99rip0lncj70be10l8ueq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBH_RPrnrNuuVclYa36j0_eUtU1LIGip0c</string>
	<key>GCM_SENDER_ID</key>
	<string>462552327688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleApp</string>
	<key>PROJECT_ID</key>
	<string>personalinformation-ca167</string>
	<key>STORAGE_BUCKET</key>
	<string>personalinformation-ca167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462552327688:ios:847e41df40aca4964953bd</string>
</dict>
</plist>